body {
    color: rgb(251, 121, 143);
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex: auto;
    flex-direction: row;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
a {
    color: rgb(234, 28, 62);
}
a:visited {
    color: rebeccapurple;
}
a:hover {
    color: rgb(246, 95, 120);
}

